@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 antialiased font-sans;
    color-scheme: dark;
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #090d16;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 9999px;
  border: 1px solid #1e293b;
}

::-webkit-scrollbar-thumb:hover {
  background: #10b981;
}

/* Specific class for highlighted scrollable containers */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #475569 #090d16;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #090d16;
  border-radius: 9999px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 9999px;
  border: 1px solid #1e293b;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #10b981;
}
